@charset "UTF-8";

 		.daelim{
	        width: 8vw;
            text-align: right;
        }
		body{
            width: 1000px;
            margin: 0 auto;
            text-align: center;
        }
        header {
        	width: 1000px;
            height: 100px;
            border-bottom: 1vw solid #3399CC;
            margin: 10px;
            margin-right: 5px;
        }
        .headerbtn{             
        	text-align: right;
            margin-top: 30px;
        }
    	a { color:#000;text-decoration:none; }
    	.scriptCalendar { text-align:center; }
    	.scriptCalendar > thead > tr > td { width:50px;height:50px; }
    	.scriptCalendar > thead > tr:first-child > td { font-weight:bold; }
    	.scriptCalendar > thead > tr:last-child > td { background-color:	#40E0D0; }
    	.scriptCalendar > tbody > tr > td { width:50px;height:50px; }
    	
 		.btn1{
           	width: 10vw;
			font-size: 2vw;
			font-weight: 600;
			color: #ADD8E6;
			cursor: pointer;
			margin: 1px;
			height: 55px;
		    text-align:center;
		    border: none;
		    background-size: 300% 100%;
		    border-radius: 50px;
		    moz-transition: all .4s ease-in-out;
		    -o-transition: all .4s ease-in-out;
		    -webkit-transition: all .4s ease-in-out;
		    transition: all .4s ease-in-out;
		    background-color: #3399CC;
        }
            
        .btn1:hover {
		    background-position: 100% 0;
		    moz-transition: all .4s ease-in-out;
		    -o-transition: all .4s ease-in-out;
		    -webkit-transition: all .4s ease-in-out;
		    transition: all .4s ease-in-out;
		}

		.btn1:focus {
		    outline: none;
		}
		/* .btn1.color-10 {
		     background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
   			 box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
		} */
		#btn_main{
			color: #fff;
			}
		.scriptCalendar{
			width: 50vw;
			margin-top: 0vw;
			margin: 10vw;
			text-align:center;
		}