@charset "UTF-8";

			body{
            	width: 1000px;
            	margin: 0 auto;
            	text-align: center;
        	}	
        	.btn1{
           		width: 10vw;
			    font-size: 2vw;
			    font-weight: 600;
			    color: #ADD8E6;
			    cursor: pointer;
			    margin: 50px;
			    height: 55px;
			    text-align:center;
			    border: none;
			    background-size: 300% 100%;
			    border-radius: 50px;
			    moz-transition: all .4s ease-in-out;
			    -o-transition: all .4s ease-in-out;
			    -webkit-transition: all .4s ease-in-out;
			    transition: all .4s ease-in-out;
			    background-color: #3399CC;
            }
            
            .btn1:hover {
			    background-position: 100% 0;
			    moz-transition: all .4s ease-in-out;
			    -o-transition: all .4s ease-in-out;
			    -webkit-transition: all .4s ease-in-out;
			    transition: all .4s ease-in-out;
			}

			.btn1:focus {
			    outline: none;
			}
			/* .btn1.color-10 {
			     background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    			 box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
			} */
			#btn_main{
			color: #fff;
			}
			.rogoimg{
            width: 10vw;
            cursor: pointer;
            }
            .daelim{
	        	width: 8vw;
            	text-align: right;
        	}
        	
			